@font-face
{
    font-family: 'Inter';
    src: url('Inter.ttf')
}

input:invalid{
    border-color: #E63946;
    color: #E63946;
}

input:required{
    border-color: #CED4DA;
}

#addProv {
    height: 12%;
    padding: 0;
    top: 10px;
    margin-bottom: 3px;
}

#addArea {
    height: 9%;
    margin-bottom: 2px;
    padding: 0 0 20px;
    margin-top: 1px;
}

#addUnid {
    height: 8%;
    margin-bottom: 1px;
    padding: 0 0 20px;
    margin-top: 1px;
}

#numero{
    width: 20px;
}

#cf{
    padding: 0 120px;
}

#nuevosz{
    padding: 0 120px;
}

body
{
    background-color: #F2E9E4;
    font-family: 'Inter';
}

@media (max-width: 400px) {
    #addProv {
        margin-top: 3px;
        padding-bottom: 20px;
    }

    #addArea {
        margin-top: 3px;
        padding-bottom: 20px;
    }

    #addUnid {
        margin-top: 3px;
        padding-bottom: 20px;
    }
}

/* Media queries para responsividad */

/* Para el inicio */

#contInicio
{
    position: relative;
    margin: auto;
    background-color: #FFFFFF;
    padding: 20px 50px;

    border-radius: 18px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    max-width: 930px;
}

#tit{
    justify-content: center;
    align-items:center;
    text-align: center;
}

hr{
    border: 1px solid;
}

#types{
    color: #75778C;
}

input[type="date"]{
    color: #75778C;
}

#empleado{
    color: #75778C;
}

#numero{
    color: #75778C;
}