@font-face 
{
    font-family: 'Inter';
    src: url('Inter.ttf') 
}

header
{
    background-color: #1D3557;
}

#textheader
{
    color: white;
    font-weight: 800;
}

body
{
    background-color: #F1FAEE;
    font-family: 'Inter';
}

.sign-in-container
{
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    padding: 15px 50px;
    height: 45%;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 18px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#tituloLogin
{
    font-size: 32px;
    font-weight: 800;
    font-style: normal;
    line-height: 39px;
    letter-spacing: 0.11em;
}

/* Media queries para responsividad */
@media (max-width: 576px) {
    .sign-in-container {
        width: 120%;
        padding: 0 5px;
    }

    #miFormulario {
        width: 500px;
    }

    #tituloLogin {
        font-size: 28px;
    }

    #logito{
        width: 100%;
        display: flex;
        padding: 0 25px;
    }

    #enter {
        width: 100%;
    }
}

@media (max-width: 400px) {

    #logito{
        width: 90%;
        padding:10%;
        margin-left: 5px;
    }

    #miFormulario {
        width: 1000px;
    }
}

/* Para el inicio */

#barritas
{
    align-items: flex-start;
    margin-right: auto;
}

#rw
{
    margin-left: auto;
    margin-right: auto;
}

rect:active
{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

#textheader2
{
    margin-left: auto;
    font-size: 30px;
    margin-right: auto;
    color: white;
    font-weight: 800;
}

#nav
{
    height: 60px;
    width: auto;
}

#UserData
{
    position: relative;
    margin-left: auto;
    color: #D9D9D9;
}

#perfil
{
    position: relative;
}

#contInicio
{
    position: relative;
    margin: auto;
    background-color: #FFFFFF;
    width: 100%;
    padding: 20px 50px;
    height: 100%;

    border-radius: 18px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#contInicio2
{
    position: relative;
    margin: auto;
    background-color: #FFFFFF;
    width: 100%;
    padding: 20px 10px;
    height: 100%;

    border-radius: 18px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#tit{
    justify-content: center;
    align-items:center;
    text-align: center;
}

.offcanvas-header
{
    color: white;
}

.offcanvas-body
{
    background-color: darkgrey;
}