@font-face
{
    font-family: 'Inter';
    src: url('Inter.ttf')
}

input:invalid{
    border-color: #E63946;
    color: #E63946;
}

input:required{
    border-color: #D9D9D9;
}

header
{
    background-color: #1D3557;
}

#textheader
{
    color: white;
    font-weight: 800;
}

body
{
    background-color: #F1FAEE;
    font-family: 'Inter';
}

.sign-in-container
{
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    padding: 15px 50px;
    height: 45%;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 18px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#tituloLogin
{
    font-size: 32px;
    font-weight: 800;
}

#enter
{
    background-color: #E63946;
    border-color: #E63946;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 18px;
    font-size: small;
    width: 220px;
}

#enter:hover
{
    transform: scale(1.2);
    transition: 0.5s;
}

#enter:active
{
    border-color: #D62828;
    background-color: #D62828;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

input[type="email"]
{
    position: relative;
    background-color: #D9D9D9;
    color: #7E7E7E;
    border-radius: 15px;
}

input[type="password"]
{
    position: relative;
    background-color: #D9D9D9;
    color: #7E7E7E;
    border-radius: 18px;
}

label
{
    color: #D9D9D9;
}

a
{
    color: #228be6;
    font-size: 14px;
    text-decoration: none;
    margin: 0 10px;
    text-align: center;
}

/* Media queries para responsividad */
@media (max-width: 576px) {
    .sign-in-container {
        width: 120%;
        padding: 0 5px;
    }

    #miFormulario {
        width: 500px;
    }

    #tituloLogin {
        font-size: 28px;
    }

    #logito{
        width: 100%;
        display: flex;
        padding: 0 25px;
    }

    #enter {
        width: 100%;
    }

    input[type="email"], input[type="password"] {
        width: 100%;
    }
}

@media (max-width: 400px) {

    #logito{
        width: 90%;
        padding:10%;
        margin-left: 5px;
    }

    #miFormulario {
        width: 1000px;
    }

    input[type="email"], input[type="password"] {
        width: 90%;
        left: 7.5px;
    }
}

/* Para el inicio */

#barritas
{
    align-items: flex-start;
    margin-right: auto;
}

#rw
{
    margin-left: auto;
    margin-right: auto;
}

rect:active
{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

#textheader2
{
    margin-left: auto;
    font-size: 30px;
    margin-right: auto;
    color: white;
    font-weight: 800;
}

#nav
{
    height: 60px;
    width: auto;
}

#UserData
{
    position: relative;
    margin-left: auto;
}

#perfil
{
    position: relative;
}

#tituloInicio
{
    font-size: 48px;
    letter-spacing: 27px;
    font-weight: normal;
}

#btns
{
    height: 100%;
    width: 100%;
}

#contInicio
{
    position: relative;
    margin: auto;
    background-color: #FFFFFF;
    width: 100%;
    padding: 20px 50px;
    height: 100%;
    justify-content: center;
    align-items:center;
    text-align: center;

    border-radius: 18px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#theRow
{
    justify-content: center;
    align-items: center;
    text-align: center;
}

#btnAdmin
{
    color:#000;
    background-color: #D9D9D9;
    border-color:#D9D9D9;
    border-radius: 60px;
    width: 176px;
}

#btnAdmin:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

#btnAdmin:active
{
    border-color: #DFDFFF;
    background-color: #DFDFFF;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

}

#exit
{
    background-color: #E63946;
    border-color: #E63946;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 18px;
    font-size: small;
    width: 190px;
}

#exit:hover
{
    transition: 0.5s;
    transform: scale(1.2);
}

#exit:active
{
    border-color: #D62828;
    background-color: #D62828;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.offcanvas-header
{
    color: white;
}

.offcanvas-body
{
    background-color: darkgrey;
}

.boton
{
    background-color: darkgrey;
}